In [1]:
import re

In [2]:
exp = "My phone number is 02431005352. My other phone number is (041)53253252. "
pattern = '\d{11}'
re.findall(pattern,exp)

['02431005352']

In [3]:
exp = "My phone number is 02431005352. My other phone number is (041)53253252. "
pattern = '\(\d{3}\)\d{8}'
re.findall(pattern,exp)

['(041)53253252']

In [4]:
exp = "My phone number is 02431005352. My other phone number is (041)53253252. "
pattern = '\(\d{3}\)\d{8}|\d{11}'
re.findall(pattern,exp)

['02431005352', '(041)53253252']

In [5]:
text = '''
Note 1 - Overview
Tesla, Inc. (‚ÄúTesla‚Äù, the ‚ÄúCompany‚Äù, ‚Äúwe‚Äù, ‚Äúus‚Äù or ‚Äúour‚Äù) was incorporated in the State of Delaware on July 1, 2003. We design, develop, manufacture and sell high-performance fully electric vehicles and design, manufacture, install and sell solar energy generation and energy storage
products. Our Chief Executive Officer, as the chief operating decision maker (‚ÄúCODM‚Äù), organizes our company, manages resource allocations and measures performance among two operating and reportable segments: (i) automotive and (ii) energy generation and storage.
Beginning in the first quarter of 2021, there has been a trend in many parts of the world of increasing availability and administration of vaccines
against COVID-19, as well as an easing of restrictions on social, business, travel and government activities and functions. On the other hand, infection
rates and regulations continue to fluctuate in various regions and there are ongoing global impacts resulting from the pandemic, including challenges
and increases in costs for logistics and supply chains, such as increased port congestion, intermittent supplier delays and a shortfall of semiconductor
supply. We have also previously been affected by temporary manufacturing closures, employment and compensation adjustments and impediments to
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of operations, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests and equity for the three and nine months ended September
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ended September 30, 2021 and 2020, as well as other information
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of December 31, 2020 was derived from the audited
consolidated financial statements as of that date. The interim consolidated financial statements and the accompanying notes should be read in
conjunction with the annual consolidated financial statements and the accompanying notes contained in our Annual Report on Form 10-K for the year
ended December 31, 2020.
'''
pattern = 'Note \d - ([^\n]*)'
re.findall(pattern,text)

['Overview', 'Summary of Significant Accounting Policies']

In [6]:
text= '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion. In previous quarter i.e. FY2020 Q4 it was $3 billion.
'''
pattern = 'FY\d{4} Q\d'
re.findall(pattern,text)

['FY2021 Q1', 'FY2020 Q4']

In [7]:
text= '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion. In previous quarter i.e. fy2020 Q4 it was $3 billion.
'''
pattern = 'FY\d{4} Q\d'
re.findall(pattern,text,flags=re.IGNORECASE)

['FY2021 Q1', 'fy2020 Q4']

In [8]:
text= '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion. In previous quarter i.e. FY2020 Q4 it was $3 billion.
'''
pattern = '\$([.1-9]+)'
re.findall(pattern,text)

['4.85', '3']

In [9]:
text= '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion. In previous quarter i.e. FY2020 Q4 it was $3 billion.
'''
pattern = '(FY\d{4} Q\d)[^\$]+(\$[.1-9]+)'
re.findall(pattern,text)

[('FY2021 Q1', '$4.85'), ('FY2020 Q4', '$3')]

In [10]:
# using regex for customer support

In [11]:
chat1='codebasics: Hello, I am having an issue with my order #  412889912'
pattern = 'order[^\d]+(\d+)'
matches = re.findall(pattern, chat1)
matches

['412889912']

In [12]:
chat2='codebasics: I have a problem with my order number 412889912'
pattern = 'order[^\d]+(\d+)'
matches = re.findall(pattern, chat2)
matches

['412889912']

In [13]:
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'
pattern = 'order[^\d]*(\d+)'
matches = re.findall(pattern, chat3)
matches

['412889912']

In [14]:
# zero or more of a (a*) vs one or more of a (a+)

In [15]:
chat='codebasics: I have a problem with my order #'
pattern = 'order[^\d]+\d*'
matches = re.findall(pattern, chat)
matches

['order #']

In [16]:
chat='codebasics: I have a problem with my order #'
pattern = 'order[^\d]*\d*'
matches = re.findall(pattern, chat)
matches

['order #']

In [17]:
chat='codebasics: I have a problem with my order #'
pattern = 'order[^\d]*\d+'
matches = re.findall(pattern, chat)
matches

[]

In [18]:
chat='codebasics: I have a problem with my order #'
pattern = 'order[^\d]+\d+'
matches = re.findall(pattern, chat)
matches

[]

In [19]:
chat='codebasics: I have a problem with my order'
pattern = 'order[^\d]+\d*'
matches = re.findall(pattern, chat)
matches

[]

In [20]:
chat='codebasics: I have a problem with my order'
pattern = 'order[^\d]*\d*'
matches = re.findall(pattern, chat)
matches

['order']

In [21]:
chat='codebasics: I have a problem with my order'
pattern = 'order[^\d]*\d+'
matches = re.findall(pattern, chat)
matches

[]

In [22]:
chat='codebasics: I have a problem with my order'
pattern = 'order[^\d]+\d+'
matches = re.findall(pattern, chat)
matches

[]

In [23]:
chat1 = 'codebasics: you ask lot of questions üò†  1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

In [24]:
print(re.findall('[a-zA-z0-9_]*@[a-zA-z0-9_.]*',chat1))
print(re.findall('[a-zA-z0-9_]*@[a-zA-z0-9_.]*',chat2))
print(re.findall('[a-zA-z0-9_]*@[a-zA-z0-9_.]*',chat3))

['abc@xyz.com']
['abc@xyz.com']
['abc@xyz.com']

In [25]:
print(re.findall('[0-9()-]{10,}',chat1))
print(re.findall('[0-9()-]{10,}',chat2))
print(re.findall('[0-9()-]{10,}',chat3))

['1235678912']
['(123)-567-8912']
['1235678912']

In [26]:
# using regex for information extraction

```You can also use regex to extract information from the text which is scraped using scraping tools```

In [27]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971‚Äìpresent)
Canada (1971‚Äìpresent)
United States (2002‚Äìpresent)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
‚Äã
‚Äã(m. 2000; div. 2008)‚Äã
Talulah Riley
‚Äã
‚Äã(m. 2010; div. 2012)‚Äã
‚Äã
‚Äã(m. 2013; div. 2016)
'''

In [28]:
print(re.findall('age (\d*)',text)) # age

['50']

In [29]:
print(re.findall('Born[^a-zA-Z0-9]*([A-Za-z ]*)',text)) # name

['Elon Reeve Musk']

In [30]:
print(re.findall('Born(.*)\n',text)[0].strip()) # name # . means any character....\n means till new line

Elon Reeve Musk

In [31]:
print(re.findall('.{4} \d{2},[^\(]*',text)) # dob

['June 28, 1971 ']

In [32]:
print(re.findall('\(age .*\n(.*)\n',text))

['Pretoria, Transvaal, South Africa']

In [33]:
def extract_personal_information(text):
    age = re.findall('age (\d*)', text)[0]
    full_name = re.findall('Born[^a-zA-Z0-9]*([A-Za-z ]*)', text)[0]
    birth_date = re.findall('Born.*\n(.*)\(age', text)[0]
    birth_place = re.findall('\(age .*\n(.*)\n', text)[0]
    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

In [34]:
extract_personal_information(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

In [35]:
text = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani ‚Äã(m. 1985)‚Äã[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [36]:
extract_personal_information(text)

{'age': 64,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}